/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles */

body, input, button {
	font-family: Arial, sans-serif;
	font-size: 16px;
}

header {
	width: 97vw;
	background-color: white;
	display: flex;
	justify-content: space-between;
	height: 8vh;
	margin: 0 auto;
}

header div {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

#logo-container {
	display: flex;
	width: 40px;
}

#logo {
	width: 30px;
	height: 25px;
	margin: auto;
	display: block;
}

header input {
	height: 40px;
	width: 35vw;
	border: none;
	box-shadow: inset 0 0 2px #00000030;
	padding-left: 10px;
}

#search-container {
	border: 1px solid #ccc;
}

#search-btn {
	background-color: #f8f8f8;
	border-left: 1px solid #ccc;
	width: 60px;
}

#audio-search-btn {
	background-color: #f9f9f9;
	border-radius: 50%;
	margin-left: 10px;
}

#content-wrapper {
	display: flex;
	background-color: #f9f9f9;
}

main {
	background-color: lightblue;
	width: 65vw;
	padding: 20px;
}

main iframe {
	width: 100%;
	height: calc(65vw / (16/9));
}

aside {
	width: 35vw;
	padding: 20px;
}

.active.topic-btn {
	background-color: #030303;
	border: 1px solid #030303;
	color: white;
}

.topic-btn {
	border: 1px solid #d4d4d4;
	border-radius: 20px;
	padding: 8px 10px;
	min-width: 50px;
	font-size: 14px;
	background-color: #ececec;
}

aside a {
	text-decoration: none;
	color: #7c7c7c;
	font-size: 13px;
}

.video-link {
	display: flex;
	margin-top: 20px;
}

.thumbnail-container {
	position: relative;
	width: 168px;
	height: 94px;
	font-size: 14px;
}

.thumbnail {
	width: 168px;
	height: 94px;
}

.thumbnail-time {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: black;
	color: white;
	padding: 3px;
	border-radius: 3px;
	margin: 3px;
}

.video-link-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px 0 20px 10px;
}

.video-link h4 {
	font-weight: bold;
	color: black;
	font-size: 14px;
}

.icon-btn {
	background: none;
	width: 40px;
	height: 40px;
	padding: 6px;
	border: none;
}

.icon-btn svg,
.icon-btn img {
	width: 26px;
	height: 26px;
}

.profile-img {
	border-radius: 50%;
}

button:hover {
	cursor: pointer;
}